@import '../../../assets/variables.module.scss';

nav.zol-skiplink-navigation{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1px;
    height: 1px;
    background-color: $color-darkblue;
    z-index: 2;
    text-align: left;
    overflow: hidden;

    &:focus-within{
        width: 300px;
        height: auto;
        min-height: 30px;
        border: 1px solid $color-primary;
    }

    h4{
        color: $color-white;
        margin: 0px;
        padding: 5px 20px;
    }


    ul{
        margin: 0px;
        padding: 0px;
        background-color: $color-darkblue;
        list-style: none;

        li {
            padding: 5px 5px 5px 20px;
            border-bottom: 1px solid $color-white;

            &:first-child{
                border-top: 1px solid $color-white;
            }

            button {
                color: $color-white;
                text-decoration: underline;
                text-align: left;
                padding: 0px;
            }

            li {
                font-size: 90%;
            }

        }
    }
}

button.zol-skiplink-open{
    clear: right;
    float: right;
    height: 1px;
    padding: 1px 0px 0px;
    overflow: hidden;
    color: $color-white;
    text-decoration: underline;

    &:focus{
        height: auto;
    }
}